/* Global Styles */
textarea {
    padding-top: 1.1vh;
    height: 5.1vh;
    background-color: rgb(56, 56, 56);
    resize: none;

    border-width: 2px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 200ms;
}
textarea::placeholder {
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
    font-family: 'JetBrains Mono', sans-serif;
    text-align: center;
}
textarea:focus {
    border: 2px solid rgb(0, 114, 213);
}
textarea:hover {
    border: 2px solid rgb(71, 169, 255);
}

.fancy-button {
    /* Props to Temani Afif for this animation */
    --b:4px;   /* border length*/
    --c:15px;  /* the cube perspective */
    --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
    color: #ffffff;
    text-align: center;
    padding:8px;
    transition: 0.25s;
    border: solid transparent;
    border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
    background:
      linear-gradient(-45deg,transparent var(--g),rgba(255, 255, 255, 1) 0) left  /var(--c) 100%,
      linear-gradient(135deg,transparent var(--g),rgb(195, 195, 195) 0) bottom /100% var(--c),
      conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,transparent 0),
      conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,transparent 0);
    background-repeat:no-repeat;
    background-origin:border-box;
    transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
    clip-path: 
      polygon(var(--c) 0%, var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)),100% calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)),
      var(--c) calc(100% - var(--c)));
}
.fancy-button:hover {
    transform:translate(0,0);
    clip-path: 
      polygon(0% var(--c), var(--c) 0%, 
      100% 0%, 
      100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
      0% 100%,0% 100%);
}
.fancy-button:active {
    transform:translate(-0.5vw,1vh);
}
.menu-button {
    /* Props to Tommaso Costanza for this animation */
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 1.7vh;
}

.menu-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.menu-button:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.menu-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


* {
    box-sizing: border-box;
}
body {
    background-color: #2b2b2b;
    color: #ffffff;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 4vh;
    text-align: center;
}
p {
    font-size: 2vh;
    font-family: 'JetBrains Mono', sans-serif;
}



/* LOGIN */
#loginmenu {
    margin: 0 auto;
    text-align: center;
    padding-top: 0vh;

    /* Fancy Border */
    border-start-end-radius: 5vh;
    border-end-start-radius: 5vh;
    border: 2px solid rgb(0, 114, 213);

    /* Glass Background Effect */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);

    /* Login Menu Size */
    width: 20vw;
    height: 60vh;
    margin-top: 20vh;
    margin-bottom: 20vh; 
}
#loginbutton {
    margin-top: 5vh;
    width: 15vw;
}
#logintitletext {
    margin-top: 8vh;
}
#logintext {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}


/* Control Panel Menu/Data Bar */
#controlpanelbar {
    width: 100%;
    height: 8vh;
    background-color: rgb(0, 114, 213);
}
#controlpanelbarinfo {
    float: left;
    margin-left: 3vw;
    display: flex;
    margin-top: -1vh;
}
#controlpanelbarbuttons {
    float: right;
    margin-right: 1.5vw;
    margin-top: 1.55vh;
}
#controlpanelbarinforight {
    margin-left: 1.5vw;
    float: right;
}
#controlpanelbarinfoleft { float: left; }
#publicaddressdisplay {margin-bottom: -1.5vh;}
#walletbalance {margin-bottom: -1.5vh;}

/* Control Panel */
#controlpanel {
    height: 92vh;
    padding-top: 20vh;
}

#createtransaction {
    height: 46vh;
    text-align: center;
    margin: 0 auto;
}

#checktransactionhistory {
    width: 100%;
    height: 0vh;
    margin-top: 23vh;
    margin-bottom: 23vh;
    text-align: center;
    margin: 0 auto;
}

#receiverKey {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#transactionAmount {
    margin-bottom: 1vh;
}
label {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 2vh;
}
select {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 1.4vh;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(0, 114, 213);
    margin-left: 1vw;
}
#numOfOnionNodes {
    margin-top: 2vh;
}

.dynamicdisplay {
    width: 100%;
    margin-top: 2vh;
}
#totalamount {
    display: inline-block;
    margin-left: -4%;
}
#transactionfeeamount {
    display: inline-block;
    margin-left: -5%;
}

.small-loader {
  width: 50px;
  height: 50px;
  --c: radial-gradient(farthest-side, rgb(0, 114, 213) 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  animation: s8 1s infinite;
  position: relative;
  /*margin-left: calc(50vw - 50px);*/
  margin-left: 54%;
  margin-top: -6vh;
}
.small-loader::before {    
  content:"";
  position: absolute;
  inset:0;
  margin: 3px;
  background:repeating-conic-gradient(#0000 0 35deg,rgb(0, 114, 213) 0 90deg);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 3px),#000 0);
  border-radius: 50%;
}

@keyframes s8 { 
  100%{transform: rotate(.5turn)}
}

.submit-button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2vh;
}

#uploadsmartcontract {
    height: 46vh;
    text-align: center;
    margin: 0 auto;
}

#fileselection {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

input[type="file"] {
    display: none;
}

.fileupload {
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.fileupload:hover {
    border: 2px solid rgb(0, 114, 213);
}

#uploadfeeamount {
    display: inline-block;
    margin-left: -7.7%;
}